In [16]:
import pandas as pd

raw_char_db = pd.read_csv("./dataset/raw/hsk3_all_characters.csv")
raw_char_db.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,The following list contatins all the character...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,№,HSK 3.0,Freq.,General standard #,Radical,Encounters,Fraction of the language,HSK 2.0,Stroke count,Character,NaN,NaN,NaN,Meaning,NaN,Goal
2,NaN,Band 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1,1,1,1155,白 106.3,7922684,"4,094325%",1,8,的,de,de,neutral,"possessive, adjectival suffix",NaN,的
4,NaN,2,1,2,0001,一 1.0,3050722,"1,576568%",1,1,一,yī,yi,first,"one; a, an; alone",NaN,一

In [17]:
# clean the raw dataset
clean_char_db = raw_char_db.drop(columns=["Unnamed: 0"])
clean_char_db.columns = clean_char_db.iloc[1]
clean_char_db.drop([0,1,2], inplace=True)
clean_char_db = clean_char_db.iloc[:, [1,9,10,13]]
clean_char_db.columns = ["hsk_level", "char_hanzi", "pinyin", "meaning"]
clean_char_db = clean_char_db[["char_hanzi", "pinyin", "meaning", "hsk_level"]]
clean_char_db.reset_index(drop=True, inplace=True)
clean_char_db.head()

,char_hanzi,pinyin,meaning,hsk_level
0,的,de,"possessive, adjectival suffix",1
1,一,yī,"one; a, an; alone",1
2,是,shì,"indeed, yes, right; to be; demonstrative prono...",1
3,不,bù,"no, not; un-; negative prefix",1
4,了,le,to finish; particle of completed action,1

In [18]:
# remove rows with nan values (they are subheaders)
for i in clean_char_db.iterrows():
    # check if nan and remove
    if pd.isnull(i[1]["char_hanzi"]):
        clean_char_db.drop(i[0], inplace=True)
clean_char_db.reset_index(drop=True, inplace=True)

In [19]:
clean_char_db.index += 1
clean_char_db.to_csv("./dataset/clean/hsk3_all_characters.csv", index=True, index_label="char_id")